# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

dspace/bin/dspace	eol=lf
dspace/bin/dspace-info.pl	eol=lf
dspace/bin/log-reporter	eol=lf
dspace/bin/make-handle-config	eol=lf
dspace/bin/start-handle-server	eol=lf
